.Cell {
  width: 30px;
  height: 30px;
  background: yellow;
  border: 1px black;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cell.open {
  background: red;
}
