.Cell {
  width: 50px;
  height: 50px;
  background: #c7ecee;
  border: 1px solid #dff9fb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  font-size: 1.3em;
  font-weight: 700;
}

.Cell.open {
  background: #badc58;
}

.Cell.open.mine {
  background: #eb4d4b;
}
